.header-btn{
    margin: 5px;
    color: green;
    align-items: center;
    float: right;
    padding-right: 650px;
}
.errror{
    color: red;
    
}
.body {

	display: grid;
	grid-template-columns: auto;
	color: #566787;
	background: black;
	font-family: 'Varela Round', sans-serif;
	font-size: 13px;
}
.nav-bar-buton{
	float: right;
	background-color: #566787;
}